<h1>All products</h1>

<div class="table-responsive">
  <table class="table table-striped" *ngIf="allProducts && allProducts.length">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>First variant price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of filteredProducts">
      <td><a [routerLink]="['/products/', product.id]">{{product.id}}</a></td>
      <td>{{product.name}}</td>
      <td>{{product.variants[0].priceFormatted}}</td>
    </tr>
    </tbody>
  </table>
</div>
