<div>
  <h2>Your current shopping cart!</h2>

  <div class="table-responsive">
    <table class="table table-striped" *ngIf="cart && cart.cartLineItems && cart.cartLineItems.length > 0">
      <thead>
      <tr>
        <th>Variant</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cartLineItem of cart.cartLineItems">
        <td>{{cartLineItem.variantName}}</td>
        <td>
          <span class="glyphicon glyphicon-minus" (click)="removeVariant(cartLineItem.variantId);"></span>
          {{cartLineItem.count}}
          <span class="glyphicon glyphicon-plus" (click)="addVariant(cartLineItem.variantId);"></span>
        </td>
        <td>{{cartLineItem.priceFormatted}}</td>
        <td></td>
      </tr>
      <tr class="cart-total-row">
        <td>Total</td>
        <td>{{cart.cartContentCount}}</td>
        <td>{{cart.priceFormatted}}</td>
      </tr>
      </tbody>
    </table>

    <p *ngIf="!cart || !cart.cartLineItems || cart.cartLineItems.length === 0">
      You're shopping cart is empty! Go <a [routerLink]="['/products']">here</a> to find some products!
    </p>
  </div>
</div>
